{{>nav}}
<link rel="stylesheet" href="css/index.css">
<section>
    <h1>This Page Is Only For users have account</h1>
    <a href="/login">Login</a>
    <a href="/reg">Register</a>
</section>
{{>footer}}